<ion-header>
  <ion-toolbar>
    <ion-title>edit-clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-item >
        <ion-texte size="large">
        Nom: {{cl.nom}}
        </ion-texte>  
  </ion-item>
  <br><ion-item >
    
      Tel: {{cl.numero}} 
   
  </ion-item>
  <br><ion-item >
    <ion-input type="string"> localisation_poulailler: {{cl.localisation_poulailler}} </ion-input>
  </ion-item>

<ion-row>
  <ion-col>
  <ion-button color="success" routerLink="/clients">Enregistrer</ion-button>
  </ion-col>
  <ion-col >
  <ion-button routerLink="/clients">Annuler</ion-button>
</ion-col>

</ion-row>
</ion-content>
