<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendrier-chair</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid>
      <ion-item color="item-background">
      <ion-row ion-item-background>
        <ion-col class="ion-text-center">
          Âge
        </ion-col>
        <ion-col class="ion-text-center">
          Vaccination
        </ion-col>
        <ion-col class="ion-text-center">
          Traitement
        </ion-col>
      </ion-row>
    </ion-item>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 1-2-3</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">NewCastle</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 10</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
         
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"></ion-radio>
          <ion-label class="ion-text-center">Gumboro</ion-label>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 15 à 17</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center"> Anticoccidien</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 20</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">NewCastle</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 22</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center">Gumboro</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >JOUR 30 à 32</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center"></ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center"> Anticoccidien</ion-label>
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button color="success" routerLink="/accueil">Enregistrer</ion-button>
</ion-content>
