<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendrier-pondeuse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid >
      <ion-row>
        <ion-col class="ion-text-center">
          Âge
        </ion-col>
        <ion-col class="ion-text-center">
          Vaccination
        </ion-col>
        <ion-col class="ion-text-center">
          Traitement
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">J1</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">NewCastle(HB1)+Bronchite</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center" >J7</ion-label>
        </ion-item>
      </ion-col >
      
      <ion-col>
        <ion-item >
          
          <ion-label class="ion-text-center">NewCastle(injectable)</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center" >J10</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">Gumboro</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
        <ion-item>
          <ion-label class="ion-text-center" >J 15à 17</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
         
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center">Anticoccidien</ion-label>
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center" >J20</ion-label>
        </ion-item>
      </ion-col >
      <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">Gumboro</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          
          <ion-radio slot="end"></ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">J28</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="ion-text-center">Bronchite infectieuse</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">J30 à j32</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center">Anticoccidien</ion-label>
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">j35</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="ion-text-center">Variole</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">7è semaine</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center">Déparasitage</ion-label>
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">10è semaine</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="ion-text-center">Bronchite infectieuse</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">15è semaine</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          <ion-label class="ion-text-center">Déparasitage</ion-label>
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        <ion-item>
          <ion-label class="ion-text-center">17è semaine</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item> 
          <ion-label class="ion-text-center">NewCastle</ion-label>
        </ion-item>
      </ion-col>
      <ion-col >
        <ion-item >
          
          <ion-radio slot="end"> </ion-radio>
        </ion-item>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-list>
    <ion-button color="success" routerLink="/accueil">Enregistrer</ion-button>
</ion-content>
