<ion-header>
  <ion-toolbar>
   <ion-title  class="ion-text-center" color="primary">Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <img class="ion-text-center" src="./assets/icon/poulet.jpg"/>

  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button  expand="full" color="primary" routerLink="/sujets">TYPE SUJETS</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="primary" routerLink="/calendrier-pondeuse" >Calendrier PONDEUSE</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="primary" routerLink="/clients" >CLIENTS</ion-button>
        </ion-col>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="primary" routerLink="/calendrier-chaire" >Calendrier poulet chaire</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button expand="full" color="primary" routerLink="/profile-utilisateur">Profile utilisateur</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button expand="full" color="primary" routerLink="/login">Quitter</ion-button>
      </ion-row>
      </ion-grid>
      </ion-list>
</ion-content>
