<ion-header>
  <ion-toolbar>
    <ion-title>add-clients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Prenom et nom</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="string"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>numero</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Addresse</ion-label>
  </ion-item>
  <ion-item>
    <ion-input type="string"></ion-input>
  </ion-item>
  <ion-row>
  <ion-col>
  <ion-button color="success" routerLink="/clients">Enregistrer</ion-button>
  </ion-col>
  <ion-col>
  <ion-button routerLink="/clients">Annuler</ion-button>
</ion-col>
</ion-row>
</ion-content>
